.achievement-chart-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.chart-block {
    width: 300px;
    min-height: 300px;
    position: relative;
}

.heatmap-legend {
    margin-top: -10px;
    text-align: center;
    font-size: 0.85rem;
    color: #555;
}

.legend-scale {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.color-empty {
    background-color: #eee;
    fill: #eee;
}
.color-scale-0 {
    background-color: #d6e685;
    fill: #d6e685;
}
.color-scale-1 {
    background-color: #8cc665;
    fill: #8cc665;
}
.color-scale-2 {
    background-color: #44a340;
    fill: #44a340;
}
.color-scale-3 {
    background-color: #1e6823;
    fill: #1e6823;
}
.color-scale-4 {
    background-color: #00441b;
    fill: #00441b;
}